{% extends 'base.html.twig' %}

{% block title %}Horaires{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-4">
        <div class="col-lg">
            <div class="card mb-2">
                <img class="card-img-top" src="images/babyKarate.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Baby karaté</h5>
                    <p class="card-text">Mardi de 17h30 à 18h05</p>
                    <p class="card-text">Mercredi de 18h00 à 18h35</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mardi dojo Rue Tronchet<br>
                        <a href="https://www.google.com/maps/place/125+Rue+Tronchet,+69006+Lyon/@45.7710858,4.8561755,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea8e6d02fba5:0x8f9309454dbc163e!8m2!3d45.7710858!4d4.8583642" target="_blank" class="card-link">
                            <img class="m-1" src="images/tronchet.png" width="300" height="250" alt="carte dojo rue Tronchet">
                            <address>25, rue Tronchet<br>
                                69006 Lyon</address></a></li>
                    <li class="list-group-item">Mercredi dojo UFR STAPS<br>
                        <a href="https://www.google.fr/maps/place/UFRSTAPS/@45.7804507,4.8614991,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea979329cdcf:0xf66f38f7f8df35f!8m2!3d45.780447!4d4.8636878" target="_blank" class="card-link">
                            <img class="m-1" src="images/univCB.png" width="300" height="250" alt="carte dojo Université Claude Bernard">
                            <address>Université Claude Bernard Lyon 1<br>
                                23-29, boulevard du 11 Novembre 1918<br>
                                69622 Villeurbanne</address></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-2">
                <img class="card-img-top" src="images/kidKarate.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Karaté enfants</h5>
                    <p class="card-text">Mardi de 18h05 à 18h50</p>
                    <p class="card-text">Mercredi de 18h40 à 19h30</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mardi dojo Rue Tronchet<br>
                        <a href="https://www.google.com/maps/place/125+Rue+Tronchet,+69006+Lyon/@45.7710858,4.8561755,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea8e6d02fba5:0x8f9309454dbc163e!8m2!3d45.7710858!4d4.8583642" target="_blank" class="card-link">
                            <img class="m-1" src="images/tronchet.png" width="300" height="250" alt="carte dojo rue Tronchet">
                            <address>25, rue Tronchet<br>
                                69006 Lyon</address></a></li>
                    <li class="list-group-item">Mercredi dojo UFR STAPS<br>
                        <a href="https://www.google.fr/maps/place/UFRSTAPS/@45.7804507,4.8614991,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea979329cdcf:0xf66f38f7f8df35f!8m2!3d45.780447!4d4.8636878" target="_blank" class="card-link">
                            <img class="m-1" src="images/univCB.png" width="300" height="250" alt="carte dojo Université Claude Bernard">
                            <address>Université Claude Bernard Lyon 1<br>
                                23-29, boulevard du 11 Novembre 1918<br>
                                69622 Villeurbanne</address></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-2">
                <img class="card-img-top" src="images/adultKarate.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Karaté adultes</h5>
                    <p class="card-text">Mardi de 18h50 à 19h50 : Ado, adultes tous niveaux.</p>
                    <p class="card-text">Mercredi de 19h30 à 20h30 : Ado adultes déb et intermédiaires Kata kumité, et de 20h30 à 21h30 : Avancés et gradés kata, technique.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mardi dojo Rue Tronchet<br>
                        <a href="https://www.google.com/maps/place/125+Rue+Tronchet,+69006+Lyon/@45.7710858,4.8561755,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea8e6d02fba5:0x8f9309454dbc163e!8m2!3d45.7710858!4d4.8583642" target="_blank" class="card-link">
                            <img class="m-1" src="images/tronchet.png" width="300" height="250" alt="carte dojo rue Tronchet">
                            <address>25, rue Tronchet<br>
                                69006 Lyon</address></a></li>
                    <li class="list-group-item">Mercredi dojo UFR STAPS<br>
                        <a href="https://www.google.fr/maps/place/UFRSTAPS/@45.7804507,4.8614991,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea979329cdcf:0xf66f38f7f8df35f!8m2!3d45.780447!4d4.8636878" target="_blank" class="card-link">
                            <img class="m-1" src="images/univCB.png" width="300" height="250" alt="carte dojo Université Claude Bernard">
                            <address>Université Claude Bernard Lyon 1<br>
                                23-29, boulevard du 11 Novembre 1918<br>
                                69622 Villeurbanne</address></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
